
form {
    .form-row {
        @include clearfix;
        margin: 20px 0;

        &:last-child {
            margin-bottom: 0;
        }
    }
}


label {
    height: 34px;
    line-height: 34px;
}

input {
    color: #A3A199;
    font-weight: bold;
    font-size: 13px;
}

input[type=text],
input[type=password] {
    @include border-radius(3px);
    @include transition-property(border);
    @include transition-duration(.2s);
    border: #E3E0D6 solid 2px;
    height: 34px;
    padding: 0 15px;
    background-color: #fff !important;

    &:hover {
        border-color: #A3A199;
    }

    &:focus {
        border-color: #F87E47;
        outline: none;
    }
}