
form {

    .form-controls,
    .form-buttons {
        @include clearfix;
        margin-top: 20px;
    }
}


label {
    height: 34px;
    line-height: 34px;
}

input {
    color: #777;
    font-weight: bold;
    font-size: 13px;
}

input[type=text],
input[type=password],
select {
    @include border-radius(3px);
    @include transition-property(border);
    @include transition-duration(.2s);
    border: #E3E0D6 solid 2px;
    height: 34px;
    padding: 0 15px;
    background-color: #fff !important;

    &:hover {
        border-color: #A3A199;
    }

    &:focus {
        border-color: #F87E47;
        outline: none;
    }
}

// Mixins //

@mixin form-labels($width) {
    label {
        float: left;
        display: block;
        width: $width;
    }

    .form-buttons {
        margin-left: $width;
    }
}

@mixin form-controls($width) {
    .form-controls input,
    .form-controls select,
    .form-controls textarea {
        float: left;
        display: block;
        width: $width;
    }

    .form-buttons input[type=submit],
    .form-buttons input[type=button],
    .form-buttons input[type=reset],
    .form-buttons button {
        width: auto;
    }
}
