
body {
    background: url("../img/bg.png") repeat;
}

*,
*:before,
*:after {
    @include box-sizing(border-box);
    margin: 0;
    padding: 0;
}

.container {
    width: 990px;
    margin-left: auto;
    margin-right: auto;
}
