
@font-face {
    font-family: 'Merriweather';
    font-style: normal;
    font-weight: 400;
    src: local('Merriweather'), url(../fonts/Merriweather.woff) format('woff');
}

body,
input,
textarea,
select {
    font-family: 'Merriweather';
    font-size: 14px;
    color: #3B3B3B;
}

p {
    margin: 20px 0;
}

a {
    color: #000;
    text-decoration: underline;

    &:hover {
        text-decoration: none;
    }
}
