
/* Box */

.box {
    @include border-radius(4px);
    overflow: hidden;
    background-color: #fff;
    padding: 20px;

    .box-header {
        background-color: #F4CC54;
        margin: -20px -20px 20px -20px;
        padding: 20px;
    }
}

/* Buttons */

input[type=submit],
button,
.button {
    @include border-radius(3px);
    @include transition-property(background-color);
    @include transition-duration(.2s);
    font-weight: bold;
    font-size: 13px;
    border: 0;
    padding: 10px 20px;
    cursor: pointer;
    text-decoration: none;

    color: #777;
    background-color: #EEEDE6;

    &:hover {
        background-color: darken(#EEEDE6, 3%);
    }

    &:active {
        background-color: lighten(#EEEDE6, 3%);
    }

    &.primary {
        color: #fff;
        background-color: #F87E47;

        &:hover {
            background-color: darken(#F87E47, 3%);
        }

        &:active {
            background-color: lighten(#F87E47, 3%);
        }
    }
}



/* Messages */

.message,
.messages ul {
    @include border-radius(4px);
    list-style-type: none;
    border-width: 2px;
    border-style: solid;
    margin-top: 20px;

    li {
        margin: 10px 20px;
    }

    &.success {
        border-color: #18BB9C;
        background-color: #CBF3DB;
    }

    &.warning {
        border-color: #F39C11;
        background-color: #FBF0C3;
    }

    &.error {
        border-color: #E84C3D;
        background-color: #FADBD8;
    }
}

.message {
    padding: 10px 20px;
}
