
/* Box */

.box {
    @include border-radius(4px);
    overflow: hidden;
    background-color: #fff;
    padding: 20px;

    .box-header {
        background-color: #F4CC54;
        margin: -20px -20px 20px -20px;
        padding: 20px;
    }
}

/* Buttons */

.button {
    @include border-radius(3px);
    @include transition-property(background-color);
    @include transition-duration(.2s);
    font-weight: bold;
    font-size: 13px;
    border: 0;
    padding: 10px 20px;
    cursor: pointer;
}

.button-primary {
    @extend .button;
    background-color: #F87E47;
    color: white;

    &:hover {
        background-color: #EC7944;
    }

    &:active {
        background-color: #FF854E
    }
}