
#login {
    width: 400px;
    margin: 100px auto;

    h2 {
        color: #fff;
    }

    @include form-labels(30%);
    @include form-controls(70%);

    .form-buttons input {
        width: 100% !important;
    }
}
