body {
  background: url("../img/bg.png") repeat; }

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

.container {
  width: 990px;
  margin-left: auto;
  margin-right: auto; }

@font-face {
  font-family: 'Merriweather';
  font-style: normal;
  font-weight: 400;
  src: local('Merriweather'), url(../fonts/Merriweather.woff) format('woff'); }

body, input, textarea, select {
  font-family: 'Merriweather';
  font-size: 14px;
  color: #3B3B3B; }

p {
  margin: 20px 0 0 0; }

a {
  color: #000;
  text-decoration: underline; }
  a:hover {
    text-decoration: none; }

/* Box */
.box {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  overflow: hidden;
  background-color: #fff;
  padding: 20px;
  margin-top: 20px; }
  .box .box-header {
    background-color: #F4CC54;
    margin: -20px -20px 20px -20px;
    padding: 20px; }

/* Buttons */
input[type=submit], button, .button {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  -webkit-transition-property: background-color;
  -moz-transition-property: background-color;
  -o-transition-property: background-color;
  transition-property: background-color;
  -webkit-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  -ms-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  transition-duration: 0.2s;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  font-weight: bold;
  font-size: 13px;
  border: 0;
  padding: 10px 20px;
  cursor: pointer;
  text-decoration: none;
  color: #777;
  background-color: #EEEDE6; }
  input[type=submit]:hover, button:hover, .button:hover {
    background-color: #e8e6dd; }
  input[type=submit]:active, button:active, .button:active {
    background-color: #f4f4ef; }
  input[type=submit].primary, button.primary, .button.primary {
    color: #fff;
    background-color: #F87E47; }
    input[type=submit].primary:hover, button.primary:hover, .button.primary:hover {
      background-color: #f77238; }
    input[type=submit].primary:active, button.primary:active, .button.primary:active {
      background-color: #f98756; }

/* Messages */
.message, .messages ul {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  border-width: 2px;
  border-style: solid;
  margin-top: 20px; }
  .message.success, .messages ul.success {
    border-color: #18BB9C;
    background-color: #CBF3DB; }
  .message.warning, .messages ul.warning {
    border-color: #F39C11;
    background-color: #FBF0C3; }
  .message.error, .messages ul.error {
    border-color: #E84C3D;
    background-color: #FADBD8; }

.message {
  padding: 10px 20px; }

.messages ul {
  list-style-type: none; }
  .messages ul li {
    margin: 10px 20px; }

form .form-controls, form .form-buttons {
  overflow: hidden;
  *zoom: 1;
  margin-top: 20px; }
form .help {
  height: 34px;
  line-height: 34px;
  margin-left: 20px; }

label {
  height: 34px;
  line-height: 34px; }

input {
  color: #777;
  font-weight: bold;
  font-size: 13px; }

input[type=text], input[type=password], select {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  -webkit-transition-property: border;
  -moz-transition-property: border;
  -o-transition-property: border;
  transition-property: border;
  -webkit-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  -ms-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  transition-duration: 0.2s;
  border: #E3E0D6 solid 2px;
  height: 34px;
  padding: 0 15px;
  background-color: #fff !important; }
  input[type=text]:hover, input[type=password]:hover, select:hover {
    border-color: #A3A199; }
  input[type=text]:focus, input[type=password]:focus, select:focus {
    border-color: #F87E47;
    outline: none; }

table {
  margin: 20px 0 0 0;
  width: 100%;
  border-spacing: 0;
  border: #ccc 2px solid;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px; }
  table th {
    color: #A3A199;
    font-weight: bold;
    text-align: left;
    padding: 10px 20px;
    background-color: #F9F9F6; }
  table td {
    text-align: left;
    border-top: #e8e8e8 solid 1px;
    padding: 10px 20px; }
  table tbody tr {
    background-color: #fff; }
    table tbody tr:nth-child(even) {
      background-color: #FBFBF8; }

.pagination {
  margin: 0;
  padding: 0;
  border: 0;
  overflow: hidden;
  *zoom: 1;
  margin-top: 20px; }
  .pagination li {
    list-style-image: none;
    list-style-type: none;
    margin-left: 0;
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    zoom: 1;
    *display: inline;
    white-space: nowrap; }
  .pagination li + li {
    margin-left: 10px; }
  .pagination a, .pagination span {
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
    display: block;
    min-width: 30px;
    min-height: 30px;
    background-color: #EEEDE6;
    text-align: center;
    line-height: 30px;
    font-weight: bold;
    color: #999; }
  .pagination .active span {
    color: #F87C46;
    font-weight: bold; }
  .pagination a {
    color: #3B3B3B;
    text-decoration: none; }
    .pagination a:hover {
      color: #000; }

header {
  margin-top: 20px;
  margin-bottom: 20px; }
  header h1 {
    display: block; }
  header nav {
    margin: 20px 0; }
    header nav ul {
      margin: 0;
      padding: 0;
      border: 0;
      overflow: hidden;
      *zoom: 1;
      -webkit-border-radius: 4px;
      -moz-border-radius: 4px;
      -ms-border-radius: 4px;
      -o-border-radius: 4px;
      border-radius: 4px;
      background-color: #fff; }
      header nav ul li {
        list-style-image: none;
        list-style-type: none;
        margin-left: 0;
        display: -moz-inline-stack;
        display: inline-block;
        vertical-align: middle;
        *vertical-align: auto;
        zoom: 1;
        *display: inline;
        white-space: nowrap; }
      header nav ul li a {
        display: block;
        padding: 15px 30px;
        color: #3B3B3B;
        text-decoration: none;
        font-weight: bold; }
        header nav ul li a:hover {
          color: #000; }
        header nav ul li a:active {
          background-color: #F2F1EE; }
        header nav ul li a.selected {
          background-color: #F2F1EE;
          padding-bottom: 12px;
          border-bottom: 3px solid #F87C46;
          color: #F87C46; }
  header .greetings {
    float: right; }

footer {
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center; }

#login {
  width: 400px;
  margin: 100px auto; }
  #login h2 {
    color: #fff; }
  #login label {
    float: left;
    display: block;
    width: 30%; }
  #login .form-buttons {
    margin-left: 30%; }
  #login .error {
    color: #EB5B4C;
    clear: both;
    display: block;
    margin-left: 30%;
    padding-top: 10px; }
  #login .form-controls input, #login .form-controls select, #login .form-controls textarea {
    float: left;
    display: block;
    width: 70%; }
  #login .form-buttons input[type=submit], #login .form-buttons input[type=button], #login .form-buttons input[type=reset], #login .form-buttons button {
    width: auto; }
  #login .form-buttons input {
    width: 100% !important; }

.page-congregations label {
  float: left;
  display: block;
  width: 20%; }
.page-congregations .form-buttons {
  margin-left: 20%; }
.page-congregations .error {
  color: #EB5B4C;
  clear: both;
  display: block;
  margin-left: 20%;
  padding-top: 10px; }
.page-congregations .form-controls input, .page-congregations .form-controls select, .page-congregations .form-controls textarea {
  float: left;
  display: block;
  width: 40%; }
.page-congregations .form-buttons input[type=submit], .page-congregations .form-buttons input[type=button], .page-congregations .form-buttons input[type=reset], .page-congregations .form-buttons button {
  width: auto; }
.page-congregations .datetime select {
  width: 10%;
  margin-right: 20px; }
